<img src="https://www.gadgeon.com/web/images/og/home.jpg">
<div class="div1">
<h2>About</h2>
<p>
    <b>Gadgeon</b> is a digital technology service provider enabling customer’s digital journey with solutions using new-gen technologies. Our customers are able to focus on high impact business scale up initiatives while the team from Gadgeon taking care of all engineering and operational activities.
    Gadgeon is a new-gen technology consultancy and engineering services company enabling customer’s digital journey. Gadgeon is dedicated to building solid software systems that creates business value for enterprises. Our services include Product engineering, IoT Engineering, Embedded systems – hardware & Firmware, Enterprise application – integration & modernization, Full stack development, cloud & Mobile app development, data analytics with AI & ML, testing & automation, and Professional services. Gadgeon enables our customers to fully focus on high impact business transformation initiatives while the extended team from Gadgeon takes care of all engineering and operational activities.
</p>
</div>