<div class="container d-grid">
    <div class="row">
        <div class="col">
            <h2>Services</h2>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
        <div class="card">
            <img src="https://www.gadgeon.com/web/images/p-e-01.jpg" class="card-img-top">
            <div class="card-body">
            <h3>Product Development</h3>
            <p>
                Product development is all about strategy. We collaborate from the beginning to identify opportunities and develop concepts, helping to shape your strategy. We enable you by determining the right-sized delivery strategy so that you can quickly obtain customer feedback. Our experienced product development team is ready to partner closely to successfully define, build, and evolve compelling and high-performing products.
            </p>
            </div>
        </div>
        </div>
    <div class="col-md-4">
        <div class="card">
            <img src="https://www.gadgeon.com/web/images/p-e-02.jpg" class="card-img-top">
            <div class="card-body">
            <h3>Embedded Systems</h3>
            <p>
                We take complete ownership in all areas of Embedded Systems from hardware design, firmware design & development, proto build, firmware integration, test & validation and manufacturing tests & certifications.
<br><br>
                We develop prototypes that are as reliable as working products. We help our customers engineering teams to identify and use the latest technologies in their products. </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card div1">
            <img src="https://www.gadgeon.com/web/images/p-e-03.jpg" class="card-img-top">
            <div class="card-body">
            <h3>Product Sustenance & Maintenance</h3>
            <p>
                Market evolutions drive technology organizations to introduce next-gen products to meet their strategic goals. At the same time, there is a critical need to effectively sustain previous generation products to retain customer revenues , experience. Gadgeon Product Sustenance services help extend the life of revenue-generating products.
            </p>    
            </div>
        </div>
    </div>
    </div>

</div>


