<div class="main-container">
  <div class="nav-container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img
    src="https://clutchco-static.s3.amazonaws.com/s3fs-public/logos/df5b526383881700285b34997d0cbef7.png?VersionId=7m8F.0IaH0yiRT0Gvb3MynazXEbzHXaW"
    alt="GadgEon" srcset="">
  <ul>
    <li><a routerLink="Home" style="text-decoration: none;">Home</a></li>
    <li><a routerLink="About" style="text-decoration: none;">About</a></li>
    <li><a routerLink="Contact" style="text-decoration: none;">Contact</a></li>
    <li><a routerLink="Service" style="text-decoration: none;">Service</a></li>
  </ul>
</nav>
 </div>
 <div class="component-container">
  <router-outlet></router-outlet>
<!-- <app-home></app-home>
<hr>
<app-about></app-about>
<hr>
<app-contact></app-contact>
<hr>
<app-service></app-service> -->
</div>
</div>